@model Rocky.Models.InvoiceHeader
@*@if (ViewBag.Customers != null)
    {
        foreach (var customer in ViewBag.Customers)
        {
            <p>@customer.CustomerId - @customer.CustomerName</p>
        }
    }*@

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Add Invoice Header</h2>
        </div>
        <div class="form-group">
            <div class="form-row col-md-6">
                <label asp-for="InvoiceNo"></label>
                <input asp-for="InvoiceNo" type="text" class="form-control" placeholder="Invoice No">
            </div>
        </div>
        <div class="form-group">
            <div class="form-row col-md-6">
                <label asp-for="CreatedAt"></label>
                <input asp-for="CreatedAt" type="date" class="form-control" placeholder="dd/mm/yyyy">
            </div>
        </div>
        <div class="form-group">
            <div class="form-row col-md-6">
                <label asp-for="CustomerId"></label>
                <input type="text" id="txtCustomer" name="CustomerName" class="form-control"/>
                <input type="hidden" id="hfCustomer" name="CustomerId" asp-for="CustomerId"/>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row col-md-6">
                <label asp-for="Amount"></label>
                <input asp-for="Amount" type="text" class="form-control" placeholder="0.00">
            </div>
        </div>
        <div class="form-group">
            <div class="form-row col-md-6 ml-4">
                <input asp-for="IsPaid" class="form-check-input" type="checkbox">
                <label class="form-check-label" asp-for="IsPaid"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-8 row">
                <div class="col">
                    <input type="submit" class="btn btn-info w-100" name="create" value="Create" />
                </div>
                <div class="col">
                    <a asp-controller="Invoice" asp-action="Index" class="btn btn-success">
                        @*in this case the controller name is optional as u are dealing with actions within the same controller*@
                        Back
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
          rel="Stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {
            $("#txtCustomer").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Customer/Autocomplete/',
                        data: { "expr": request.term },
                        type: "POST",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#hfCustomer").val(i.item.val);
                    //console.log(i.item.val);
                },
                minLength: 1
            });
        });
    </script>
}